<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Host or IP') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.mkswifisdcard.host">
            <span class="help-inline">{{ _('Enter host or IP') }}</span>
        </div>
    </div>
</form>